---
// Import necessary components and set SEO information
import { Icon } from 'astro-icon/components';
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';
import HomeHeroSection from '../../components/sections/heros/HomeHeroSection.astro';

const seo = {
  title: 'Landing Page #1 | Astro Odyssey Theme',
  description: 'Elevate Your Enterprise with Next-Gen AI Solutions',
};
---

<AnnouncementBar
  text="Explore Our Breakthrough AI Innovations"
  href="/blog/latest-ai-innovations/"
  slot="announcement-bar"
/>
<Layout seo={seo}>
	<!-- <HomeHeroSection /> -->
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>Revolutionize Your Business</h1>
      <p>Embark on a transformative journey with our advanced AI & automation solutions designed to propel your business into the future.</p>
    </div>
    <div slot="btns-container">
		<Button href="/landing-pages/landing-2" customIcon>
			Discover More <span slot="icon"><Icon name="ic:baseline-chevron-right" /></span>
		  </Button>		  
    </div>
    <picture slot="image-container">
		<img
			src="/assets/images/landing-1/landing-hero-1.jpg"
			alt="Astro Odyssee"
			id="home-hero-image"
		/>
	</picture>
  </TextAndImageHero>

  <CustomerQuoteSection
    quoteText="Transforming our operations with their AI solutions has set us years ahead of the competition. The value they deliver is unmatched."
    customerName="Tech Forward CEO"
  />

  <ThreeColumnTextSection>
    <div slot="column-1-body">
      <h2>Custom AI Deployments</h2>
      <p>Our bespoke AI solutions are crafted to seamlessly integrate with your existing systems, elevating efficiency and innovation.</p>
    </div>
    <Button slot="column-1-cta">Explore AI Deployments</Button>
    <div slot="column-2-body">
      <h2>Breakthrough Automation</h2>
      <p>Dive into automation like never before, with solutions that redefine productivity and streamline your operations.</p>
    </div>
    <Button slot="column-2-cta" outlined>Discover Automation</Button>
    <div slot="column-3-body">
      <h2>Next-Gen Intelligence</h2>
      <p>Unlock unparalleled insights and predictive analytics with our cutting-edge AI models, designed for decision-makers.</p>
    </div>
    <Button slot="column-3-cta">See the Intelligence</Button>
  </ThreeColumnTextSection>

  <YouTubeEmbedSection url="https://www.youtube.com/watch?v=dQw4w9WgXcQ" rounded />

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Why Choose Us?</h2>
      <h3>Leading-Edge Technology</h3>
      <p>Our commitment to innovation ensures you always stay ahead with the most advanced technologies at your fingertips.</p>
      <h3>Proven Expertise</h3>
      <p>Our team consists of industry veterans with a track record of delivering transformational results across sectors.</p>
      <h3>Customized Solutions</h3>
      <p>We believe in a tailored approach, ensuring our AI solutions perfectly align with your business goals.</p>
    </div>
    <picture slot="image-container">
		<img
			src="/assets/images/landing-1/landing-sticky.jpg"
			alt="Astro Odyssey"
			loading="lazy"
		/>
	</picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Embark on Your AI Journey</h2>
    <p>Join forces with us and unlock the full potential of your enterprise with cutting-edge AI and automation solutions.</p>
    <Button href="/contact-us" customIcon>
      Start Now <span slot="icon"><Icon name="ic:baseline-chevron-right" /></span>
    </Button>
  </CtaCardSection>
</Layout>
